/game/dota_addons/dota_classic/maps/
/game/dota_addons/dota_classic/materials/
/game/dota_addons/dota_classic/resource/overviews/
/game/dota_addons/dota_classic/tools_asset_info.bin
/game/dota_addons/dota_classic/tools_thumbnail_cache.bin
