/.vscode
/content/dota_addons/dota_classic/materials
/game/dota_addons/dota_classic/maps
/game/dota_addons/dota_classic/materials
/game/dota_addons/dota_classic/models
/game/dota_addons/dota_classic/panorama
/game/dota_addons/dota_classic/resource/overviews
/game/dota_addons/dota_classic/panorama_debugger.cfg
/game/dota_addons/dota_classic/tools_asset_info.bin
/game/dota_addons/dota_classic/tools_thumbnail_cache.bin
/game/dota_addons/dota_classic/tools_thumbnail_cache.sqlite3
/game/dota_addons/dota_classic/tools_thumbnail_cache.sqlite3-shm
/game/dota_addons/dota_classic/tools_thumbnail_cache.sqlite3-wal
